* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }

  header{
    height: 100vh;
    background-image: url("images/mobile/image-hero.jpg");
    background-repeat: no-repeat;
    background-size: cover;
  }

/*NAVIGATION BAR */
  .navBar{
    height: 15vh;
    display: flex;
    justify-content: space-between;
  }

/*NAVIGATION LOGO */

  .logo{
    background: url("images/logo.svg") no-repeat;
    background-position: center;
    display: flex;
    justify-items: center;
    height: 100%;
    width: 250px;
  }

/*NAVIGATION TEXT */
  .navigation{
    width: fit-content;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px;
  }
  /*NAVIGATION LIST */
  .navigation ul{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
  }

  
  .navigation a{
    display: flex;
    justify-content: space-around;
    text-decoration: none;
    color: white;
  }

  .navigation li{
    display: none;
    text-decoration: none;
    list-style: none;
  }

/*lANDING PAGE TEXT */

.landingText{
    height: 85vh;
    display: flex;
    align-items: center;
}
.landingText p{
    border: 2px solid white;
    height: 250px;
    width: 320px;
    color: white;
    margin: auto;
    font-size: 40px;
    padding-top: 30px;
    padding-left: 15px;
}

/* Image and Text section*/
.imgTxt{
    
    height: max-content;
}

.image{
    
    height: 30vh;
    width: 90%;
    background-image: url("images/mobile/image-interactive.jpg");
    background-size: cover;
    margin-top: 100px; 
    margin-left: 1.2em;
}

.text{ 
    
    height: fit-content;
    text-align: center;
    display: flex;
    flex-direction: column;
    padding-top: 2em;
    padding-left: 1.7em;
    padding-right: 1em;
    padding-bottom: 1em;
}
.text h1{

    font-size: 2.1rem;
    font-weight: lighter;
    margin-bottom: 1rem;
    display: flex;
    line-height: 1.2;
    text-align: center;
}

.text p{
  font-size: 1.5rem;
  display: flex;
  justify-content: space-around;
  line-height: 1.3em;
}

/* OUR CREATIONS */

.ourCreations{
  height: max-content;
  display: flex;
  flex-direction: column;
  
}
.ourCreations h1{
  text-align: center;
}
.creations{
 /* */
  height: 20vh;
  width:90%;
  margin-bottom: 18px;
  padding-top: 15%;
}

/* MOBILE VIEW BUTTON OFF*/
.txnBtn button{
  display: none;
}

.txnBtn h1{
  padding: 2rem;
  font-size: 2.2rem;
  font-weight: lighter;
}

/* TEXT IN THE IMAGES*/
.creations p{
  color: white;
  display: flex;
  font-size: 1.8em;
  margin-left: 10px;
}

.topBottomRow{
  
  display: flex;
  flex-direction: column;
  align-items: center;
}



/* OUR CREATIONS mobile IMAGES */

.image1{
  background: url("images/mobile/image-deep-earth.jpg");
  background-size: cover;
}

.image2{
  background: url("images/mobile/image-night-arcade.jpg");
  background-size: cover;
}
.image3{
  background: url("images/mobile/image-soccer-team.jpg");
  background-size: cover;
}
.image4{
  background: url("images/mobile/image-grid.jpg");
  background-size: cover;
}
.image5{
  background: url("images/mobile/image-from-above.jpg");
  background-size: cover;
}
.image6{
  background: url("images/mobile/image-pocket-borealis.jpg");
  background-size: cover;
}
.image7{
  background: url("images/mobile/image-curiosity.jpg");
  background-size: cover;
}
.image8{
  background: url("images/mobile/image-fisheye.jpg");
  background-size: cover;
}

.ourCreations button{
  padding: 0.5em 2.5em 0.5em 2.5em;
  font-size: 1rem;
  border-radius: 0px;
  border: 1px solid black;
  background-color: white;
}

.lowerBtn{
  
  display: flex;
  justify-content: center;
  padding-top: 2em;
  padding-bottom: 2em;
}

/*FOOTER BEGINING */

footer{
  height: 80vh;
  width: 100%;
  background-color: black;
  
}


.footerLogo{
  height: 15vh;
  width: 100%;
  
  background: url("images/logo.svg") no-repeat;
  display: flex;
  background-position: center;
}
.footerList{
  
  width: 100%;
  height: 40vh;
  display: flex;
  justify-content: center;
}

.footerList ul{
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.footerList li{
  color: white;
  font-size: 1.4rem;
}

.footerList a{
  text-decoration: none;
  list-style: none;
}
.lowerFooterContainer{
  height: 20vh;
  width: 100%;
  text-align: center;
}

.footerSocials{
  
  height: 12vh;
  width: 100%;
  display: flex;
}
.footerSocials img{
  margin: auto;
}

.lowerFooterContainer p{
  color: white;
}

/*Desktop*/
@media (min-width: 450px){

header{
    background-image: url("images/desktop/image-hero.jpg");
    background-size: cover;
}

.logo{
    width: 250px;
}


.navigation{
    width: 45%;
}

.navigation img{
    display: none;
}
.navigation li{
    display: contents;
    text-decoration: none;
    list-style: none;
  }

.landingText p{
    padding-top: 20px;
    width: 400px;
    height: 200px;
    font-size: 45px;
    margin: 0;
    margin-left: 0.7em;
  }

.imgTxt{
    /*  */
    display: flex;
    justify-content: space-around;
}

.image{
    background: url("images/desktop/image-interactive.jpg") no-repeat;
    background-size: cover;
    height: 60vh;
    width: 100vh;
}

.text{
    width: 60vh;
    height: 45vh;
    margin-top: 14.2rem; 
    text-align: left;
    background-color: white;
    margin-left: -20rem;
    white-space: normal;
}


.text h1{
    font-size: 2.5rem;
    text-align: left;
    margin-bottom: 0.5rem;
}
.text p{
  height: 30vh;
    font-size: 1.6rem;
    text-align: left;
}


/* OUR CREATIONS */

.txnBtn{
  display: flex;
  justify-content: space-between;
  margin-left: 3.5em;
  margin-right: 3.5em;
}
.txnBtn button{
  display: flex;
  margin-top: auto;
  margin-bottom: auto;
}

.topBottomRow{
  
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.creations{
  background: none;
  height: 60vh;
  width: 20%;
  display: flex;
  justify-content: space-around;
  padding-top: 25%;
}
/* OUR CREATIONS TEXT STYLING*/

.creations p{
  width: 80%;
  height: 10vh;
}

/* OUR CREATIONS images */
.image1{
  background: url("images/desktop/image-deep-earth.jpg");
  background-size: cover;
}

.image2{
  background: url("images/desktop/image-night-arcade.jpg");
  background-size: cover;
}
.image3{
  background: url("images/desktop/image-soccer-team.jpg");
  background-size: cover;
}
.image4{
  background: url("images/desktop/image-grid.jpg");
  background-size: cover;
}
.image5{
  background: url("images/desktop/image-from-above.jpg");
  background-size: cover;
}
.image6{
  background: url("images/desktop/image-pocket-borealis.jpg");
  background-size: cover;
}
.image7{
  background: url("images/desktop/image-curiosity.jpg");
  background-size: cover;
}
.image8{
  background: url("images/desktop/image-fisheye.jpg");
  background-size: cover;
}


/* OUR CREATIONS LOWER SELL ALL BUTTON */
.lowerButton{
  display: none;
}



/* FOOTER */
footer{
  height: fit-content;
  display: flex;
  justify-content: space-around;
}

/* TOP FOOTER DIVE */

.footerContainer{
  height: 22vh;
  width: 30%;
}

/* FOOTER LOGO */
.footerLogo{
  height: 15vh;
  width: 100%;
  background-position: left;
}
/* FOOTER NAVIGATION LIST */
.footerList{
  width: 100%;
  height: 7vh;
}
.footerList ul{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
}

.footerList li{
  font-size: 1rem;
}


/* THE BOTTOM/ LEFT FOOTER  */

.lowerFooterContainer{
  height: 22vh;
  width: 30%;
}
/* FOOTER SOCIALS*/
.footerSocials{
  width: 100%;
  height: 15vh;
}

.lowerFooterContainer p{
  width: 100%;
  height: 7vh;
}








  }